@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #cfefff;
	--color-foreground: #110720;
	--color-accent: #2d2441;
	--color-hover: #8868b8;
	--color-disabled: #77707a;

	@media (prefers-color-scheme: dark) {
		--color-background: #110720;
		--color-foreground: #c0eeff;
		--color-accent: #77cbec;
		--color-hover: #50b3e3;
		--color-disabled: #466b80;
	}

	font-size: 14px;

	@screen md {
		font-size: 16px;
	}
}

@layer base {

	a,
	button {
		@apply italic;
	}

	a:hover,
	button:hover,
	input:hover {
		@apply outline;
		@apply outline-accent;
	}

	*:focus,
	*::before:focus,
	*::after:focus {
		@apply text-background;
		@apply bg-foreground;
		@apply outline-none;
		@apply border-none;
	}

	input {
		@apply text-accent;
		@apply bg-background;
		@apply placeholder:text-disabled;
		@apply placeholder:italic;
	}

	body {
		@apply text-foreground;
		@apply bg-background;
		@apply font-sans
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}