@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #c0eeff;
	--color-foreground: #110720;
	--color-foreground-hover: #8868b8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #110720;
		--color-foreground: #c0eeff;
		--color-foreground-hover: #50b3e3;
	}
}

body {
	color: var(--color-foreground);
	background: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
	font-weight: 700;
}

a, button {
	font-style: italic;
}

a:hover, button:hover {
	color: var(--color-foreground-hover)
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
